.my-player {
  background: #545252;
  height: 50px;
  .actions {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    margin-left: 20px;
  }
  .icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
  }
  .pre {
    background-image: url(./images/player-prev.png);
    background-size: 24px;
    background-position: center;
  }
  .next {
    background-image: url(./images/player-next.png);
    background-size: 24px;
    background-position: center;
  }
  .volume-no {
    background-image: url(./images/volume-no.png);
    background-size: 20px;
  }
  .volume-low {
    background-image: url(./images/volume-low.png);
    background-size: 20px;
  }
  .volume-louder {
    background-image: url(./images/volume-louder.png);
    background-size: 20px;
  }
  .play {
    background-image: url(./images/player.png);
  }
  .pause {
    background-image: url(./images/pause.png);
  }
  .body {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: 20px;
    .progress {
      position: relative;
      top: 10px;
    }
    .info {
      font-size: 12px;
      top: 10px;
      left: 20px;
      position: relative;
      .name {
        color: #e8e8e8;
        margin-right: 20px;
      }
      .singer {
        color: #9b9b9b;
      }
    }
  }
  .time-info {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    position: relative;
    top: 25px;
    left: 10px;
    .past-time {
      color: #a1a1a1;
    }
    .full-time {
      color: #797979;
    }
  }
  .volum-part {
    display: inline-block;
    position: relative;
    top: 20px;
    left: 20px;
    .volum-progress {
      position: absolute;
      background: #545252;
      height: 115px;
      top: -148px;
      left: -8px;
      padding-top: 15px;
    }
  }
}